<main class="main-content">
  <section class="orders-section">
    <div class="orders-header">
      <h2>Lista de Pedidos</h2>
      <button class="add-btn" (click)="openModal()">+ Adicionar Pedido</button>
    </div>

    <div class="search-bar">
      <input
        type="text"
        placeholder="Pesquisar pedido por cliente ou status"
        [(ngModel)]="termoPesquisa"
        (input)="filtrarPedidos()"
      />
    </div>

    <div class="table-wrapper">
      <table class="orders-table">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data</th>
            <th>Status</th>
            <th>Valor total</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let pedido of pedidosFiltrados"
            (click)="openViewModal(pedido)"
          >
            <td>{{ getNomeCliente(pedido.cliente_id) }}</td>
            <td>{{ pedido.data_pedido | date : "short" }}</td>
            <td>
              <span
                class="status-box"
                [ngClass]="{
                  'status-A': pedido.status === 'APROVADO',
                  'status-P': pedido.status === 'PENDENTE',
                  'status-C': pedido.status === 'CANCELADO'
                }"
              ></span>
            </td>
            <td>{{ pedido.valor_total | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- modal novo pedido -->
  <div class="modal-backdrop" *ngIf="showModal" (click)="closeModal()"></div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h3 *ngIf="!isViewMode">Adicionar Pedido</h3>
      <h3 *ngIf="isViewMode">Visualizar Pedido</h3>

      <form *ngIf="!isViewMode" (ngSubmit)="salvarPedido()">
        <label>Cliente</label>
        <select [(ngModel)]="novoPedido.cliente_id" name="cliente" required>
          <option value="">Selecione...</option>
          <option *ngFor="let cliente of clientes" [value]="cliente.id">
            {{ cliente.nome }}
          </option>
        </select>

        <div class="container-itens">
          <div class="items-container">
            <div class="items-header">
              <label>Itens</label>
              <button type="button" class="add-btn" (click)="adicionarItem()">
                Adicionar item
              </button>
            </div>

            <div class="item-row" *ngFor="let item of itens; let i = index">
              <input
                type="text"
                [(ngModel)]="item.produto_nome"
                name="nome{{ i }}"
                placeholder="Nome do item"
              />
              <input
                type="number"
                [(ngModel)]="item.quantidade"
                name="quantidade{{ i }}"
                placeholder="Qtd"
              />
              <input
                type="number"
                [(ngModel)]="item.preco_unitario"
                name="preco{{ i }}"
                placeholder="Preço"
              />
              <!-- <button type="button" class="add-btn" (click)="addItem(i)">
                Adicionar
              </button> -->
              <button type="button" class="delete-btn" (click)="removerItem(i)">
                Excluir
              </button>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="total">
            <strong>Total geral: </strong> R$
            {{ calcularTotal() | number : "1.2-2" }}
          </div>
          <div class="modal-buttons">
            <button type="button" class="cancel-btn" (click)="closeModal()">
              Cancelar
            </button>
            <button type="submit" class="save-btn">Salvar</button>
          </div>
        </div>
      </form>

      <!-- modo visualizaçao -->
      <div *ngIf="isViewMode">
        <label>Cliente</label>
        <input
          type="text"
          [value]="getNomeCliente(novoPedido.cliente_id)"
          readonly
        />

        <div class="container-itens">
          <div class="items-container">
            <div class="items-header">
              <label>Itens</label>
            </div>

            <div class="item-row" *ngFor="let item of itens">
              <input type="text" [value]="item.produto_nome" readonly />
              <input type="number" [value]="item.quantidade" readonly />
              <input type="number" [value]="item.preco_unitario" readonly />
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="total">
            <strong>Total geral: </strong> R$
            {{ calcularTotal() | number : "1.2-2" }}
          </div>
          <div class="modal-buttons">
            <button type="button" class="cancel-btn" (click)="closeModal()">
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
